<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<nav class="navbar">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Overview', '/admin/masterviewer' %></li>
      <li><%= link_to 'Add Stats', '/admin/addgamestats' %></li>
      <li><%= link_to 'Add Assessments', '/admin/addassessments' %></li>
      <li><%= link_to 'View by Player', '/admin/playerviewer' %></li>
      <li><%= link_to 'View All Games', '/admin/gameslist' %></li>
      <li><%= link_to 'View Assessments', '/admin/assessments' %></li>
      <li><%= link_to 'View All Players', '/admin/playerslist' %></li>
      <li><%= link_to 'Logout', '/logout' %></li>
    </ul>
</nav>
